/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* Overlay */
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Home Page */
.home {
    position: relative;
    background: url('./images/hands.jpg') no-repeat center center/cover;
    height: 100vh;
}

.home-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Card */
.img-card-size {
    width: 100%;
    height: 8vw;
    object-fit: scale-down;
}

/* Mobile Styles */
@media (max-width: 700px) {

}
